{include file="template/_meta" /}
<title>Document</title>
</head>
<style type="text/css">
	.mask {
		position: absolute;
		top: 0px;
		filter: alpha(opacity=60);
		background-color: #777;
		z-index: 1002;
		left: 0px;
		opacity: 0.5;
		-moz-opacity: 0.5;
	}
</style>

<body>
	<!--头部-->
	<div class="all">

	{include file="template/_header" /}

	<!--个人中心导航-->

	{include file="template/_menu" /}

	<!--右边内容-->
	<div class="right-content">
		
		<div class="">
			<iframe class="recontent" id="add" frameborder="0" src=""></iframe>
		</div>

	</div>
	<!--模板-->
	<div id="add-main" style="display: none;">
       <form class="layui-form" id="add-form" action="{:url('admin/admin/passwd')}" method="post">
         <div class="layui-form-item center"  style="margin: 20px auto; width: 70%;">
          <label class="layui-form-label" style="width: 100px !important" >旧密码</label>
          <div class="layui-input-block" >
           <input type="password" name="name" required value="" style="width: 240px" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
          </div>
         </div>
         <div class="layui-form-item" style="margin: 20px auto; width: 70%;">
          <label class="layui-form-label" style="width: 100px !important">新密码</label>
          <div class="layui-input-block">
           <input type="password" name="passwd" id="new_psw" required style="width: 240px" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
          </div>
         </div>
         <div class="layui-form-item" style="margin: 20px auto; width: 70%;">
          <label class="layui-form-label" style="width: 100px !important">确认密码</label>
          <div class="layui-input-block">
           <input type="password" name="value" required style="width: 240px" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
           <!-- <input type="hidden" name="id" style="width: 240px" autocomplete="off" class="layui-input"> -->
          </div>
         </div>
         <div class="layui-form-item" style="margin: 20px auto; width: 70%;">
          <div class="layui-input-block">
           <input type="hidden" name="id" value="{$Think.session.user_id}">
           <button class="layui-btn" lay-submit lay-filter="save"  type="submit">立即提交</button>
           <button type="reset" class="layui-btn layui-btn-primary" id="closeBtn" >重置</button>
          </div>
         </div> 
       </form>  
    </div>
</div>
	{include file="template/_footer" /}

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			$("#password_edit").on("click", function() {
                  layer.open({
			        type: 1,
			        title:"修改密码",
			        closeBtn: false,
			        shift: 2,
			        area: ['600px', '400px'],
			        shadeClose: true,
                    //btn: ['新增', '取消'],
			        // btnAlign: 'c',
			        content: $("#add-main"),
			        success: function(layero, index){

                    },
			        yes:function(){
			        }
			      });
			});

		})
	</script>
	{/block}
</body>

</html>