{extend name="layout"} {block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }

</style>

{/block}

<body>

    {block name="content"}

    <div class="childrenBody">
        <blockquote class="layui-elem-quote news_search">
            <form class="layui-form" action="">
           <div class="seach">
					<div class="seach_list">
						<div class="seach_laber">账号</div>
						<div class="seach_input">
							<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">

						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">用户名</div>
						<div class="seach_input">
							  <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                       
						</div>
					</div>
				
					<div class="seach_list">
						<div class="seach_laber">角色</div>
						<div class="seach_input">
							<select name="">
								<option value="" selected="">全部</option>
								<option value="1">已显示</option>
								<option value="0">已禁用</option>
							</select>
						</div>
					</div>
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

            </form>



        </blockquote>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-danger bataad" href="{:url('admin/role/add')}">添加</a>
        </div>
        <div class="layui-form news_list">
            <table class="layui-table">
                <colgroup>
                    <col width="5%">
                    <col width="5%">
                    <col width="5%">
                    <col width="9%">
                    <col width="9%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>角色名称</th>
                        <th>角色描述</th>
                        <th>上一级名称</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    {volist name="role_lists" id="value"}
                    <tr>
                        <td align="left">{$value.id}</td>
                        <td>{$value.name}</td>
                        <td>{$value.desc}</td>
                        <td>{if $value.pid != 0}{$value.parent_depart_name} {else} 无 {/if}</td>
                        <td>
                            {if $value.status == 0}
                            <input type="checkbox" name="show" value="{$value.status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" data-id="{$value.id}" /> {else /}
                            <input type="checkbox" name="show" value="{$value.status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" checked="" data-id="{$value.id}" /> {/if}
                        </td>
                        <td>
                            <a class="layui-btn layui-btn-mini edit" data-id="2" href="{:url('admin/role/edit',['id'=>$value.id])}"><i class="iconfont icon-edit"></i>
								编辑</a>
                            <a href="{:url('admin/role/del',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="2"><i class="layui-icon"></i> 删除</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
        <div id="page"></div>

    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function() {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //是否展示
            form.on('switch(isShow)', function(data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                console.log(status);
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/role/status')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function(data) {
                        console.log("成功")
                    },
                    error: function(data) {
                        console.log("错误")
                    }
                });


            })


        })
    </script>
    {/block}