{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
	body {
		background: #fff;
	}
	
	#hot {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.list {
		margin-right: 10px;
		margin-bottom: 6px;
	}
	
	.title {
		height: 50px;
		background: #F2F2F2;
		font-size: 20px;
		line-height: 50px;
		padding-left: 20px;
		font-weight: bold;
	}
	
	.noshow {
		display: none;
	}
	/* 弹窗 */
	
	.tanchuang {
		width: 100%;
		min-height: 1000px;
		background: RGBA(0, 0, 0, 0.3);
		position: fixed;
		z-index: 9999;
	}
	
	.line>div {
		display: flex;
		align-items: center;
	}
	
	.line {
		flex-wrap: wrap;
		width: 1400px;
	}
	.line .layui-unselect dl{
		min-width: 200px !important;
	}
	.texts {
		width: 70px;
	}

</style>

{/block}

<body>
	{block name="content"}
	<div class="tanchuang noshow">
		<div style="width: 395px;height: 527px;margin: 10% auto;">
			<img src="" class="tanimg" />
		</div>

	</div>

	<form class="layui-form layui-form-lists" action="{:url('admin/Category/save')}" method="post" enctype="multipart/form-data">
		<div class="form-title">活动信息</div>
		<div class="form-item">
			<label class="form-label">限购设置</label>
			<div class="form-input line">
					<div>
					<input type="checkbox" name="like1[write]" lay-skin="primary" title="" checked="">
					<div class="texts">限购数量</div>
					<input type="text" name="" id="" value="" class="layui-input" />
				</div>
				<div>
					<input type="checkbox" name="like1[write]" lay-skin="primary" title="" checked="">
					<div class="texts">面向范围</div>
					<select name="">
						<option value=""  selected="selected">请选择</option>
						<option value="">黄金会员</option>
						<option value="">白金会员</option>
					</select>
					<div class="texts">以上</div>
				</div>
			<div>
					<input type="checkbox" name="like1[write]" lay-skin="primary" title="" checked="">
					<div class="texts">每间隔</div>
					<select name="">
						<option value=""  selected="selected">请选择</option>
						<option value="">一个月</option>
						<option value="">二个月</option>
					</select>
					<div class="texts">以上</div>
				</div>
			

			</div>
		</div>
		<div class="form-item">
			<label class="form-label">活动标签</label>
			<div class="form-input">
				<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="新人现金券" class="layui-input">
				<div class="tips">
					*活动期间展示于商品详情的价格下方，2至5字<span class="tan" style="color: #0E90D2;" data-id="__STATIC__/admin/common/img/u27291.png"> 查看示例</span>
				</div>
			</div>
		</div>

        <div class="form-title">选择商品</div>
        <div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="{:url('admin/Category/search')}">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">输入搜索：</div>
						<div class="seach_input">
							<input type="text" name="" lay-verify="title" autocomplete="off" placeholder="请输入商品编码/商品名称" class="layui-input">

						</div>
					</div>
					
					
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

			</form>
		</blockquote>


		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="3%">

				</colgroup>
				<thead>
					<tr>
						 <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
						<th>商品编号</th>
						<th>商品图片</th>
						<th>商品名称</th>
						<th>库存</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
					<tr>
						<td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id=""></td>
						<td>1000001</td>
						<td class="">
							<div class="tdimg"><img src="11" /></div>
						</td>
						
						<td>1000001</td>
						<td>1000001</td>
						<td>
							<a class="layui-btn layui-btn-mini edit" href="bonus_edit"><i class="iconfont icon-edit"></i> 参加活动
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			

	</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
			</div>
		</div>
	</form>

	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}

	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
			var form = layui.form(),
				$ = layui.jquery;
			form.render();
			$(".add_biao").click(function() {
				var dhtml = "";
				dhtml =
					'<div class="list" ><input type="checkbox" name="" lay-skin="primary" title="特色活动"><span style="color: #0EA9E3; font-size: 12px;"  class="change_text">修改</span></div>'
				$("#hot").append(dhtml);
				form.render();
			});
			  //全选
            form.on('checkbox(allChoose)', function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function(index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

            form.on('switch(isShow)', function(data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Goods/status')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function(data) {
                        console.log("成功")
                    },
                    error: function(data) {
                        console.log("错误")
                    }
                });

            })

			$("#hot").on('click', ".change_text", function() {
				var texts = $(this).siblings('input');
				layer.prompt({
						title: '请输入修改的文字',
						formType: 2
					},
					function(text, index) {
						texts.attr("title", text);
						layer.close(index);
						form.render();
					});

			})
			$('#beginTimes').datetimepicker({
//					yearOffset:222,
					lang:'ch',
					timepicker:false,
//					format:'d/m/Y',
					formatDate:'Y/m/d',
					minDate:'-2018/01/02', // yesterday is minimum date
					maxDate:'+2050/01/02' // and tommorow is maximum date calendar
				});
					$('#endTimes').datetimepicker({
//					yearOffset:222,
					lang:'ch',
					timepicker:false,
//					format:'d/m/Y',
					formatDate:'Y/m/d',
					minDate:'2018/01/02', // yesterday is minimum date
					maxDate:'2050/01/02' // and tommorow is maximum date calendar
				});

			$(".tan").click(function() {
				src = $(this).data("id");
				$(".tanchuang").removeClass("noshow");
				$(".tanimg").attr("src", src);
			});
			$(".tanchuang").click(function() {
				$(".tanchuang").addClass("noshow");
			});

		});
	</script>

	{/block}

</body>

</html>