{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
    body {
        background: #fff;
    }
    
    #page {
        width: 96%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }
</style>

{/block}

<body>

    {block name="content"}

    <div class="childrenBody">

        <div class="layui-form news_list">
            <table class="layui-table">
                <colgroup>
                    <col width="3%">

                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="id"></th>
                        <th>页面名称</th>
                        <th>编辑时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    {volist name="list" id="value"}
                    <tr>
                        <td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="{$value.id}"></td>
                        <td>{$value.title}</td>
                        <td><?php echo 1; ?></td>
                        <td class="td-status">
                        {if $value.status == 0}
                            <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" data-id="{$value.id}"> {else}
                            <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" checked data-id="{$value.id}"> {/if}
                        </td>
                        <td>
                            <a class="layui-btn layui-btn-mini edit" href="{:url('admin/General/decoration_routine_details',['id'=>$value.id])}"><i class="iconfont icon-edit"></i> 编辑
                            </a>
                            <a href="{:url('admin/Pages/del',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i class="layui-icon"></i> 删除</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div id="page">
                {$list->render()}
            </div>

        </div>

    </div>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function() {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //点击操作确认按钮
            var data_id = [];
            $("#opration_btu").click(function() {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                            ,
                        closeBtn: 0
                    });
                } else if (opration_val == 1) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    },  function(index) {
                        layer.close(index);
                        var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
                        for (var i = 0; i < child.length; i++) {
                            data_id.push($(child[i])[0].dataset.id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/GoodsType/dels')}",
                            data: {
                                "id": data_id,
                            },
                            success: function(data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function(data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });

                }

            });

            //全选
            form.on('checkbox(allChoose)', function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function(index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

            form.on('switch(isShow)', function(data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                console.log(status);
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Category/status')}",
                    data: {
                        "id": id,
                        "status": status
                    },
                    success: function(data) {
                        console.log("成功")
                    },
                    error: function(data) {
                        console.log("错误")
                    }
                });

            })
        })
    </script>

    {/block}

</body>

</html>