{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }
    
    .proportion {
        width: 70%;
        margin: 20px auto;
        border: 0;
    }
    
    .proportion th {
        padding: 20px;
        background: #F9FAFC;
        text-align: center;
        border-color: #E4E4E4;
    }
    
    .proportion td {
        padding: 10px;
        text-align: center;
    }
    
    .proportion td input {
        width: 100%;
        border: 0;
        padding-left: 10px;
        box-sizing: border-box;
    }
</style>

{/block}

<body>
    {block name="content"}


    <form class="layui-form layui-form-lists" action="{:url('admin/Distribution/goods_update')}" method="post" enctype="multipart/form-data">
        {if !empty($goods)} {foreach name="goods" id="value"}
        <input type="hidden" name="id" id="" value="{$value.id}" />
        <div class="form-title">特定商品 </div>
        <div class="form-item">
            <label class="form-label">商品编号</label>
            <div class="form-input">
                <p style="line-height: 38px;">{$value.shop_number} </p>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">商品名称</label>
            <div class="form-input">
                <p style="line-height: 38px;">{$value.shop_name}</p>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">主图</label>
            <div class="form-input">
                {if $value.picture}
                <div class="" style="width: 100px;height: 100px;">
                    <img src="__UPLOADS__/{$value.picture}" />
                </div>
                {/if}
            </div>
        </div>

        <div class="form-title">分佣比例 </div>
        <table border="" cellspacing="" cellpadding="" class="proportion">
            <tr>
                <th>等级</th>
                <th>佣金比例</th>
                <th>固定奖金(元)</th>
                <th>积分比例</th>
                <th>固定积分</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="0级(购买者)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="{$value.grade[0]}" /></td>
                <td><input type="text" name="award[]" id="" value="{$value.award[0]}" /></td>
                <td><input type="text" name="scale[]" id="" value="{$value.scale[0]}" /></td>
                <td><input type="text" name="integral[]" id="" value="{$value.integral[0]}" /></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="1级(上1级)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="{$value.grade[1]}" /></td>
                <td><input type="text" name="award[]" id="" value="{$value.award[1]}" /></td>
                <td><input type="text" name="scale[]" id="" value="{$value.scale[1]}" /></td>
                <td><input type="text" name="integral[]" id="" value="{$value.integral[1]}" /></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="2级(上2级)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="{$value.grade[2]}" /></td>
                <td><input type="text" name="award[]" id="" value="{$value.award[2]}" /></td>
                <td><input type="text" name="scale[]" id="" value="{$value.scale[2]}" /></td>
                <td><input type="text" name="integral[]" id="" value="{$value.integral[2]}" /></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="rank[]" id="" value="3级(上3级)" />
                </td>
                <td><input type="text" name="grade[]" id="" value="{$value.grade[3]}" /></td>
                <td><input type="text" name="award[]" id="" value="{$value.award[3]}" /></td>
                <td><input type="text" name="scale[]" id="" value="{$value.scale[3]}" /></td>
                <td><input type="text" name="integral[]" id="" value="{$value.integral[3]}" /></td>
            </tr>
        </table>

        <div class="form-title">高级设置 </div>
        <div class="form-item">
            <label class="form-label">等级条件</label>
            <div class="form-input">
                {if $value.way == 1}
                <input type="radio" name="way" value="1" title="适用全部会员" checked="">
                <input type="radio" name="way" value="0" title="不对普通会员开放"> {else}
                <input type="radio" name="way" value="1" title="适用全部会员">
                <input type="radio" name="way" value="0" title="不对普通会员开放" checked="">{/if}
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">状态</label>
            <div class="form-input">
                {if $value.status == 1}
                <input type="radio" name="status" value="1" title="开" checked="">
                <input type="radio" name="status" value="0" title="关"> {else}
                <input type="radio" name="status" value="1" title="开">
                <input type="radio" name="status" value="0" title="关" checked="">{/if}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
        {/foreach} {/if}
    </form>

    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}


    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
            var form = layui.form(),
                $ = layui.jquery;
            form.render();

        });
    </script>

    {/block}

</body>

</html>