{extend name="layout"} {block name="css"}
<style type="text/css">
	body {
		background: #fff;
	}
	#hot {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.list {
		margin-right: 10px;
		margin-bottom: 6px;
		display: flex;
	}
	
	.list img {
		margin-left: 4px;
		height: 20px;
	}
	
	.list .texts {
		margin-left: 4px;
		width: 78px;
		height: 20px;
		display: inline-block;
		text-align: center;
		line-height: 20px;
		color: #669900;
		border: solid 1px #669900;
		border-radius: 6px;
	}
	
	
	.layui-form label {
		width: 14%;
		text-align: left;
	}
	
	.layui-form .layui-input-block input {
		width: 97%;
	}
	
	.layui-form-label span {
		color: red;
	}
	
	.layui-form {
		width: 98%;
		margin: 0 auto;
		padding-top: 40px;
	}
	
	.layui-input-block {
		min-height: 7px;
	}
	
	.biaoji .layui-form-radioed span {
		color: #fff;
		background: red;
		width: 33px;
		text-align: center;
		height: 13px;
		line-height: 13px;
		font-size: 9px;
		border-radius: 6px;
	}
	
	.form-group .layui-form-select {
		display: none;
	}
	
	.title {
		height: 50px;
		background: #F2F2F2;
		font-size: 20px;
		line-height: 50px;
		padding-left: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	.noshow {
		display: none;
	}
	
	.tips {
		color: #999;
	}
	
	.change_text {
		cursor: pointer;
	}
	/* 数据库展现图片样式 */
	
	.img {
		position: relative;
		display: inline-block;
		width: 100px;
	}
	
	.img>i {
		display: inline-block;
		width: 20px;
		position: absolute;
		right: 0;
		top: 0;
	}
</style>

{/block}

<body>

	{block name="content"}
	<div class="open">

	</div>
	{if !empty($teahost)} {volist name="teahost" id="value"}
	<form class="layui-form" action="{:url('admin/Advertisement/accessories_business_updata',['id'=>$value.id])}" method="post" enctype="multipart/form-data">
		<!--<div class="hide futext">
           
        </div>-->
		<div class="basic-information title"> 基本信息
		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>活动名称</label>
			<div class="layui-input-block">
				<input type="text" name="activity_name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="goods_name" value="{$value.activity_name}">
				<div class="tips">
					活动名称必须填写，最多100个字
				</div>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">活动地址</label>
			<div class="layui-input-block">
				<div class="form-inline">
					<div data-toggle="distpicker">
						<div class="form-group">
							<label class="sr-only" for="province2">Province</label>
							<select class="form-control" name="address_city1" id="province2" data-province="{$city_address[0]}"></select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="city2">City</label>
							<select class="form-control" name="address_city2" id="city2" data-city="{$city_address[1]}"></select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="district2">District</label>
							<select class="form-control" name="address_city3" id="district2" data-district="{$city_address[2]}"></select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<div class="layui-input-block">
				<input type="text" name="address_street" lay-verify="title" autocomplete="off" placeholder="请填写具体地址" class="layui-input" id="sort_number" value="{$city_address[3]}">

			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">活动时间</label>
			<div class="layui-input-block">
				<input type="text" name="start_time" value="" class="layui-input" placeholder="请选择活动开始时间" id="datetimepicker" value="{$value.start_time | date=" Y-m-d H:i ",###}" />

			</div>
		</div>
		<div class="form-item">
			<label class="form-label">卖点标签</label>
			<div class="form-input" style="display: flex; align-items: center;">
				<div id="hot">
					<div class="list">
						<input type="checkbox" name="goods_sign" lay-skin="primary" title="" checked="">
						<img src="__STATIC__/admin/index/img/kecun.png" />
					</div>
					<div class="list">
						<input type="checkbox" name="goods_sign" lay-skin="primary" title="">
						<img src="__STATIC__/admin/index/img/hot.png" />
					</div>
					<div class="list">
						<input type="checkbox" name="goods_sign" lay-skin="primary" title="">
						<img src="__STATIC__/admin/index/img/chuxiao.png" />
					</div>
					<div class="list">
						<input type="checkbox" name="goods_sign" lay-skin="primary" title="">
						<img src="__STATIC__/admin/index/img/qingchang.png" />
					</div>
					<div class="list">
						<input type="checkbox" name="goods_sign" lay-skin="primary" title="">
						<span class="texts">古色生香</span>
						<span style="color: #0EA9E3;font-size: 12px; line-height: 20px;" class="change_text">修改</span>
					</div>
				</div>

			</div>
			<div class="add_biao">
				+添加文字标签
			</div>
		</div>

		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>分享描述</label>
			<div class="layui-input-block">
				<input type="text" name="describe" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="sort_number" value="{$value.describe}">
				<div class="tips">
					*微信分享给好友时会显示，建议36个字以内 <span>查看示例</span>
				</div>
			</div>

		</div>
		<div class="layui-form-item ">
			<label class="layui-form-label"><span>*</span>归属分类</label>
			<div class="layui-input-block">
				<div class="layui-input-inline">
					{if !empty($teahost_names)}
					<select name="pid" id="admin_role" class="role_list">
						<option value="0">顶级</option>
						{volist name="teahost_names" id="v"} {if condition="$value.pid eq $v.id"}
						<option value="{$v.id}" selected="">{$v.name}</option>
						{else}
						<option value="{$v.id}">{$v.name}</option>
						{/if} {/volist}
					</select><br/> {else}
					<select name="pid" class="role_list">
						<option value="0">顶级</option>
					</select><br/> {/if}
					</select>
				</div>
				<div class="layui-input-inline">
					<a href="{:url('admin/Category/add')}" style="line-height: 40px;">添加分类</a>
				</div>
			</div>
		</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">活动排序</label>
			<div class="layui-input-block">
				<input type="number" name="order_ing" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" id="sort_number" value="{$value.order_ing}">
				<div class="tips">
					*填写正整数，从大到小排序
				</div>
			</div>

		</div>
		<div class="basic-information title"> 详细信息</div>
		<div class="layui-form-item">
			<label class="layui-form-label">开放要求</label>
			<div class="layui-input-block">
				{if $value.open_request == 0}
				<input type="radio" name="open_request" value="{$value.open_request}" title="对所有人开放" checked>
				<input type="radio" name="open_request" value="{$value.open_request}" title="对会员开放"> {else}
				<input type="radio" name="open_request" value="{$value.open_request}" title="对所有人开放">
				<input type="radio" name="open_request" value="{$value.open_request}" title="对会员开放" checked> {/if}
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">活动要求</label>
			<div class="layui-input-block">
				{if $value.requirements == 0}
				<input type="radio" name="requirements" value="{$value.requirements}" title="无需预约" checked>
				<input type="radio" name="requirements" value="{$value.requirements}" title="需要预约">{else}
				<input type="radio" name="requirements" value="{$value.requirements}" title="无需预约">
				<input type="radio" name="requirements" value="{$value.requirements}" title="需要预约" checked> {/if}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">首页推荐</label>
			<div class="layui-input-block">
				{if $value.status == 0}
				<input type="radio" name="status" value="{$value.requirements}" title="推荐">
				<input type="radio" name="status" value="{$value.requirements}" title="不推荐" checked> {else}
				<input type="radio" name="status" value="{$value.requirements}" title="推荐" checked>
				<input type="radio" name="status" value="{$value.requirements}" title="不推荐">{/if}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span class="red">*</span>活动上限人数</label>
			<div class="layui-input-block">
				<input type="number" name="participats" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" id="sort_number" value="{$value.participats}">
				<div class="tips">
					*不填写，表示不限制人数
				</div>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span class="red">*</span>活动费用</label>
			<div class="layui-input-block">
				<input type="number" name="cost_moneny" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" id="sort_number" value="{$value.cost_moneny}" value="{$value.specification}">
				<div class="tips">
					*不填写，表示免费
				</div>
			</div>

		</div>
		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label"><span>*</span>活动规格</label>
			<div class="layui-input-block">
				<div class="layui-input-inline">
					<input type="checkbox" name="specification" lay-skin="primary" title="参加会员折扣" checked="" value="{$value.specification}">
				</div>
				<div class="layui-input-inline">
					管理会员卡
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">活动图</label>
			<div class="layui-input-block">
				<div class="imgcontent">
					<span class="img">
                            <img src="__UPLOADS__/{$value.classify_image}" width="100%">
                            <i class="remove-img" name="classify_image" value="__UPLOADS__/{$value.classify_image}" data-id="{$value.id}" data-value="2"><img 

src="__STATIC__/admin/common/img/a7.png"></i>
                        </span>
				</div>
			</div>
			<div class="layui-input-block">

				<div class="img-box full">
					<section class=" img-section">
						<div class="z_photo upimg-div clear">
							<section class="z_file fl">
								<img src="__STATIC__/admin/common/upfile/img/a11.png" class="add-img">
								<input type="file" name="classify_image" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple data-id="10" />
							</section>
						</div>
					</section>
				</div>
				<aside class="mask works-mask">
					<div class="mask-content">
						<p class="del-p ">您确定要删除作品图片吗？</p>
						<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
					</div>
				</aside>
				<div class="tips">
					建议尺寸：？*？像素
				</div>
			</div>

		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">商品描述：</label>
			<div class="layui-input-block">
				<div id="goods_text">
					<script id="editor" type="text/plain" name="commodity" style="width:800px;height:500px;" value="">{$value.commodity}</script>
				</div>
			</div>
		</div>

		<div class="layui-form-item" class="biaoji">
			<label class="layui-form-label">状态：</label>
			<div class="layui-input-block" id="">
				{if $value.label == 0}
				<input type="radio" name="label" value="0" title="暂不发布" checked>
				<input type="radio" name="label" value="1" title="立即发布"> {else}
				<input type="radio" name="label" value="0" title="暂不发布">
				<input type="radio" name="label" value="1" title="立即发布" checked> {/if}
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn submit_btn" lay-submit="" lay-filter="demo1" type="submit">保存</button>
				<button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);"> 返回</button>
			</div>
		</div>

	</form>
	{/volist} {/if} {/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage', 'layedit'], function() {
			var form = layui.form(),
				layedit = layui.layedit,
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			layedit.build('demo');
			form.render('select');
			$("#hot").on('click', ".change_text", function() {
				var texts = $(this).siblings('.texts');
				layer.prompt({
						title: '请输入修改的文字',
						formType: 2
					},
					function(text, index) {
						texts.html(text);
						layer.close(index);

					});

			});
			$(".add_biao").click(function() {
				var dhtml = "";
				dhtml =
					'<div class="list"> <input type="checkbox" name="goods_sign" lay-skin="primary" title=""> <span class="texts">古色生香</span> <span style="color: #0EA9E3;font-size: 12px; line-height: 20px;" class="change_text">修改</span> </div>'
				$("#hot").append(dhtml);
				form.render();
			});

			// 图片删除
			$(".remove-img").click(function() {
				var remove = $(this).parent();
				var id = $(this).data("id");
				var value = $(this).data("value");
				console.log(value)
				console.log(id);
				$.ajax({
					type: "POST",
					url: "{:url('admin/Advertisement/accessories_business_images')}",
					data: {
						"id": id
					},
					dataType: "json",
					success: function(data) {
						remove.remove();
					},
					error: function(data) {
						console.log("错误");
					}
				});

			});

		})
	</script>

	<script type="text/javascript">
		//      setTimeout(insertHtml, 1000);

		//实例化编辑器
		//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
		var ue = UE.getEditor('editor');

		//      function insertHtml() {
		//          UE.getEditor('editor').execCommand('insertHtml', $(".futext").html())
		//      }
		$('#datetimepicker').datetimepicker({
			format: 'Y/m/d H:m',
			step: 1,
		});
	</script>

	{/block}

</body>

</html>