<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="chinaz-site-verification" content="9ec5e052-4d45-497e-86f5-534020af2d3c" />
    <meta name="sogou_site_verification" content="YvFT0umd12" />
        
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/index/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/upfile/css/index.css"/>
            <link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/jquery.datetimepicker.css"/>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

   <style type="text/css">
   	.pagination{
   		margin: 7px 0;
   	}
   </style>
    <!--<!--[if IE 6]>
    <script type="text/javascript" src="__STATIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->