{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
 
    
    body {
        background: #fff;
    }
    
    
    #page {
        width: 96%;
        height: 50px;
        line-height: 50px;
        border: solid 1px #E2E2E2;
        padding-left: 50px;
        background: #FDFDFE;
    }
    
    .img_show {
        width: 150px;
    }
    
    .pagination {
        float: right;
    }
</style>



{/block}

<body>

    {block name="content"}

    <div class="childrenBody">
        <blockquote class="layui-elem-quote">
            <div class="layui-form" action="{:url('admin/User/search')}">
                <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                <span style="font-weight: bold;margin-left: 10px;">评论审核</span>
                <p style="margin-left: 70px; font-size: 12px;">启用关闭功能后，所有用户评价内容隐藏</p>
            </div>
        </blockquote>
        <blockquote class="layui-elem-quote news_search">
        		<form class="layui-form" action="{:url('admin/Comments/search')}">
				<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">评论商品：</div>
						<div class="seach_input">
						 <input type="text" name="search_key" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="zhanghu">
                       
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">用户名：</div>
						<div class="seach_input">
							<input type="text" name="search_keys" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" id="nichwng">

						</div>
					</div>
				
					
					<button class="layui-btn" type="submit" id="seach">立即搜索</button>
				</div>

			</form>
     
        </blockquote>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-danger batchDel" href="{:url('admin/Comments/add')}">评论积分设置</a>
        </div>
        <div class="layui-form news_list">

            <table class="layui-table">
                <colgroup>
                    <col width="3%">

                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                        <th>用户名</th>
                        <th>评论积分</th>
                        <th>评论商品</th>
                        <th>订单号</th>
                        <th>评论内容</th>
                        <th>评论时间</th>
                        <th>账户状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="news_content">
                    <tr>
                        {volist name="comments_index" id ="value"}
                        <td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="{$value.id}" class="check"></td>
                        <td>{$value.user_account}</td>
                        <td>{$value.comment_integral}</td>
                        <td>{$value.goods_comment}</td>

                        <td>{$value.order_numbers}</td>
                        <td>{$value.comment}</td>
                        <td>{$value.comment_time|date="Y-m-d H:i:s",###}</td>
                        <td>
                            {if $value.status == 0}
                            <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch" lay-text="ON|OFF" lay-filter="isShow" data-id="{$value.id}" /> {else /}
                            <input type="checkbox" class="Status" name="status" value="{$value.status}" lay-skin="switch" lay-text="ON|OFF" lay-filter="isShow" checked="" data-id="{$value.id}" /> {/if}
                        </td>
                        <td width="124px">
                            <a class="layui-btn layui-btn-mini edit" href="{:url('admin/comments/edit',['id'=>$value.id])} "><i class="iconfont icon-edit"></i>
								编辑</a>
                            <a href="{:url('admin/Comments/delete',['id'=>$value.id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="undefined"><i class="layui-icon"></i> 删除</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>



            </table>

            <div id="page">
                <div class="opation" style="width: 200px; float: left;">
                    <select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
						<option check="" value="0">请选择</option>
						<option value="1">批量删除</option>
					</select>
                </div>
                <div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
                    <button type="button" id="opration_btu" style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
					</button>
                </div>

            </div>
            {$comments_index->render()}

        </div>




    </div>


    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->



    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], function() {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;
            var vals = $("input").data("id");
            //点击操作确认按钮
            var data_id = [];
            $("#opration_btu").click(function() {
                var opration_val = $(".opation select option:selected").val();
                if (opration_val == 0) {
                    layer.alert('请选择操作', {
                        skin: 'layui-layer-molv' //样式类名
                            ,
                        closeBtn: 0
                    });
                } else if (opration_val == 1) {
                    layer.confirm('你确认要删除吗？', {
                        btn: ['确认', '取消'] //按钮
                    },  function(index) {
						layer.close(index);
                        var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
                        for (var i = 0; i < child.length; i++) {
                            data_id.push($(child[i])[0].dataset.id);
                        }
                        $.ajax({
                            type: "POST",
                            url: "{:url('admin/Comments/deletes')}",
                            data: {
                                "id": data_id,
                            },
                            success: function(data) {
                                console.log("成功");
                                console.log(data);
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                location.reload();
                                data_id.splice(0, data_id.length);
                            },
                            error: function(data) {
                                var data = $.parseJSON(data);
                                layer.alert(data.info, {
                                    skin: 'layui-layer-molv' //样式类名
                                        ,
                                    closeBtn: 0
                                });
                                console.log(data);
                                console.log("错误");
                                data_id.splice(0, data_id.length);
                            }
                        });
                    });


                }


            });


            // console.log(data_id);
            //全选
            form.on('checkbox(allChoose)', function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function(index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            //通过判断文章是否全部选中来确定全选按钮是否选中
            form.on("checkbox(choose)", function(data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
                if (childChecked.length == child.length) {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
                } else {
                    $(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
                }
                form.render('checkbox');
            })

            //是否展示
            form.on('switch(isShow)', function(data) {
                if ($(this).val() == 0) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
                var vals = data.value;
                var id = $(this).data("id");
                var status = $(this).val();
                console.log(status);
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Comments/status')}",
                    data: {
                        "id": id,
                        "statuse": status
                    },
                    success: function(data) {
                        console.log("成功")
                    },
                    error: function(data) {
                        console.log("错误")
                    }
                });


            })


        })
    </script>

    {/block}

</body>

</html>

</html>