[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *
    margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.icon-minus-sign {
    background-position: -24px -96px;
}

.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-th {
    background-position: -240px 0;
}