{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}

<style type="text/css">
	body {
		background: #fff;
	}

	label {
		text-align: left !important;
	}

	.layui-form-item {
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;

	}

	.layui-form-label {
		width: 26% !important;
	}

	.layui-input-inline {
		width: 70% !important;
	}

	#page {
		width: 96%;
		height: 50px;
		line-height: 50px;
		border: solid 1px #E2E2E2;
		padding-left: 50px;
		background: #FDFDFE;
	}
</style>



{/block}
<body>

	{block name="content"}

	<div class="childrenBody">
		<blockquote class="layui-elem-quote news_search">
			<form class="layui-form" action="">
					<div class="seach">
					<div class="seach_list">
						<div class="seach_laber">用户ID</div>
						<div class="seach_input">
							<input type="text" name="search_name" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" id="zhanghu">
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">用户昵称</div>
						<div class="seach_input">
							<input type="text" name="search_key" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" id="nichwng">
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">用户账号</div>
						<div class="seach_input">
							<input type="text" name="search_name" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" id="zhanghu">
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">会员等级</div>
						<div class="seach_input">
							<select>
								<option value ="1">全部</option>
								<option value ="2">E</option>
							</select></div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">开始时间</div>
						<div class="seach_input">
						<span class="time"><input type="text" class="text datetimepicker layui-input" readonly="readonly" id="beginTime" value=""  >
							</span>
						</div>
					</div>
					<div class="seach_list">
						<div class="seach_laber">结束时间</div>
						<div class="seach_input">
							<span class="time"><input type="text" class=" text datetimepicker layui-input" readonly="readonly" id="endTime" value=""  ></span>

						</div>
					</div>
					 <button class="layui-btn" type="submit">立即搜索</button>
				</div>
			
			</form>

		</blockquote>
		<div class="layui-form news_list">
			<table class="layui-table">
				<colgroup>
					<col width="3%">
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" sname="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
						<th>用户ID(邀请码)</th>
						<th>用户账号</th>
						<th>用户昵称</th>
						<th>头像</th>
						<th>会员等级</th>
						<th>性别</th>
						<th>身份证号</th>
						<th>地址</th>
						<th>加入时间</th>
						<th>账户启用状态</th>
						<th width="100px">操作</th>
					</tr>
				</thead>
				<tbody class="news_content">
				{if !empty($user_data)}
				{volist name="user_data" id ="vo"}
					<tr>
						<td><input type="checkbox" sname="" lay-skin="primary" lay-filter="choose" data-id="{$vo.member_id}"></td>
						<td>{$vo.member_id}</td>
						<td>{$vo.member_phone_num}</td>
						<td>{$vo.member_name}</td>
						<td><div class="tdimg"><img src="{$vo.member_head_img}" /></td>
						<td>{$vo.member_grade_name} </td>
						<td>{$vo.member_sex} </td>
						<td>{$vo.ID_card}</td>
						<td>{$vo.member_address} </td>
						<td>{$vo.member_create_time|date="Y-m-d H:i:s",###} </td>
						<td>
							{if $vo.member_status==1}
							<input type="checkbox" class="Status" name="show" value="{$vo.member_status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow"
							 data-id="{$vo.member_id}" checked>
							{/if}
							{if $vo.member_status==-1}
							<input type="checkbox" class="Status" name="show" value="{$vo.member_status}" lay-skin="switch" lay-text="是|否" lay-filter="isShow"
								   data-id="{$vo.member_id}">
							{/if}
							<!--<div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>否</em><i></i></div>-->

						</td>
						<td>
							<a class="layui-btn layui-btn-mini edit" href="{:url('admin/user/edit',['id'=>$vo.member_id])}"><i class="iconfont icon-edit"></i> 编辑</a>

							<a href="{:url('admin/user/del',['id'=>$vo.member_id])}" onclick="if(!confirm('确定要删除吗？')) return false" class="layui-btn layui-btn-danger layui-btn-mini news_del"
							 data-id="undefined"><i class="layui-icon"></i> 删除</a>
						</td>
					</tr>
				{/volist}
				{/if}
				</tbody>
			</table>
				<div id="page">
							<div class="opation" style="width: 200px; float: left;">
								<select name="" style="color: #C1A5A5; border-color: #E4E4E4;height: 30px;">
									<option check="" value="0">请选择</option>
									<option value="1">批量删除</option>
									<option value="4">批量导出</option>
									<option value="5">批量导入</option>
								</select>
							</div>
							<div style="float: left; height: 52px;line-height: 52px; margin-left: 20px;">
								<button type="button" id="opration_btu" style="width: 60px; background: #fff; color: #333333;border:#CCCCCC solid 1px;height: 38px;line-height: 38px;">确定
								</button>
							</div>
					{if !empty($user_data)}
					{$user_data->render()}
					{/if}
			
						</div>
		</div>
	

	</div>


	{/block}

	<!--_footer 作为公共模版分离出去-->
	{include file="template/_footer" /}
	<!--/_footer 作为公共模版分离出去-->



	<!--请在下方写此页面业务相关的脚本-->
	{block name="bottom"}
	<script type="text/javascript">
		layui.config({
			base: "js/"
		}).use(['form', 'layer', 'jquery', 'laypage'], function() {
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			var vals = $("input").data("id");
		//点击操作确认按钮
					var data_id = [];
					$("#opration_btu").click(function() {
						var opration_val=$(".opation select option:selected").val();
						if(opration_val==0){
							layer.alert('请选择操作', {
								skin: 'layui-layer-molv' //样式类名
								,closeBtn: 0
								});
						}
						else if(opration_val==1){
						layer.confirm('你确认要删除吗？', {
							  btn: ['确认','取消'] //按钮
							}, function(){
								var child = $("tbody").find('input[type="checkbox"]:not([name="show"]):checked');
												for (var i = 0; i < child.length; i++) {
													data_id.push($(child[i])[0].dataset.id);
												}
												$.ajax({
													type: "POST",
													url: "{:url('admin/User/dels')}",
													data: {
														"id": data_id,
													},
													success: function(data) {
														console.log("成功");
														console.log(data);
														var data=$.parseJSON(data);
														layer.alert(data.info, {
															skin: 'layui-layer-molv' //样式类名
															,closeBtn: 0
															});
														location.reload();
														data_id.splice(0, data_id.length);
													},
													error: function(data) {
														var data=$.parseJSON(data);
														layer.alert(data.info, {
															skin: 'layui-layer-molv' //样式类名
															,closeBtn: 0
															});
													console.log(data);
														console.log("错误");
														data_id.splice(0, data_id.length);
													}
												});
							});
								
							
						}
						
		
					});
		
			//全选
			form.on('checkbox(allChoose)', function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				child.each(function(index, item) {
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});

			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)", function(data) {
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
				if (childChecked.length == child.length) {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
				} else {
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
				}
				form.render('checkbox');
			})

			//是否展示
			form.on('switch(isShow)', function(data) {
				if ($(this).val() == -1) {
					$(this).val(1);
				} else {
					$(this).val(-1);
				}
				var vals = data.value;
				var id = $(this).data("id");
				var status = $(this).val();
				console.log(status);
				$.ajax({
					type: "POST",
					url: "{:url('admin/User/status')}",
					data: {
						"id": id,
						"status": status
					},
					success: function(data) {
						console.log("成功")
					},
					error: function(data) {
						console.log("错误")
					}
				});


			})


		})
	</script>

	{/block}

</body>
</html>
