{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<style type="text/css">
    body {
        background: #fff;
    }
</style>


{/block}

<body>
  {block name="content"}
    <form class="layui-form layui-form-lists" action="{:url('admin/Comments/preserve')}" method="post" enctype="multipart/form-data">
         <div class="form-item">
            <label class="form-label">文字评论积分</label>
            <div class="form-input">
               <input type="text" name="character_integral" value="" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                <div class="tips">
                                   不设置积分为0
                </div>
            </div>
        </div>
           <div class="form-item">
            <label class="form-label">获点赞数得积分</label>
            <div class="form-input">
              <input type="text" name="approve" value="" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                
              <div class="tips">
                                   不设置积分为0
                </div>
            </div>
        </div>
           <div class="form-item">
            <label class="form-label">获评论数得积分</label>
            <div class="form-input">
                 <input type="text" name="comments" value="" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
              
               <div class="tips">
                                   不设置积分为0
                </div>
            </div>
        </div>
      <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" type="submit">确认提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onClick="javascript :history.back(-1);">返回</button>
            </div>
        </div>
    </form> 
    {/block}

    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}

    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage', 'upload'], function() {
            var form = layui.form(),
                $ = layui.jquery;
            form.render();
            //创建一个编辑器
            //var editIndex = layedit.build('LAY_demo_editor');

        });
    </script>

    {/block}

</body>

</html>